<style>
  .content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    max-width: 600px;
    line-height: : 21px;
  }
</style>

<div class="content">
  <p>Olá, {{name}}!</p>
  <p>Parece que foi solicitada uma troca de senha para sua conta</p>
  <p>Se você fez a solicitação, clique no link abaixo:</p>
  <p>
    <a href="{{link}}">Resetar senha</a>
  </p>
  <p>Se você não solicitou a troca de senha, então desconsidere esse email.</p>
  <p>Atenciosament,</p>
  <strong>Equipe GoBarber</strong>
</div>